@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-inter: 'Inter', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
  --navigation-height: 80px;
  --banner-height: 50px;
}


body {
  font-family: var(--font-dm-sans), sans-serif;
  /* Default global font */
}

@layer utilities {}